@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


/* PRIINCIPAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: list-item;
  align-items: center;
  justify-content: center;
 
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);

    
	background: #121214;
	background: -moz-linear-gradient(60deg, #121214 0%, #6c49be 100%);
	background: -webkit-linear-gradient(60deg, #121214 0%, #6c49be 100%);
	background: linear-gradient(60deg, #121214 0%, #6c49be 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorsrt='#3023ae', endColor='#c86dd7');
    
    
} 


h3 div{
    font-size: 14px;
    text-align: center;
  }

h3  div p {
  font-size: 14px;
}
h3{
 

display: list-item;
color: #beb8b8;
background-color:#343a40;
padding: 10px;
margin: 2px;
border-radius: 500px;

}

/* .......................................................NAVBAR..................................................................................... */
nav#menu {
  display: block;

}

nav#menu ul{
  list-style: none;
  position: relative;
  width: auto;
  text-align: center;
  text-decoration: none;
  
  
}
div div button#new  {
  background: linear-gradient(60deg, #121214 0%, #8257e5 100%);
  border: 2px solid #8257e5;
}
div div button#new :hover {
  background: linear-gradient(30deg, #847b8a 0%, #593c9c 100%);
}


nav#menu li{
display: inline-block;
color: 3023ae;
background: linear-gradient(30deg, #121214 0%, #8369be 100%);
padding: 10px;
margin: 4px;
border-radius: 500px;
border: 2.5px solid #8257e5;




}

nav#menu li:hover {
  background: linear-gradient(30deg, #2c2630 0%, #593c9c 100%);
}

nav#menu li a {
  color: #beb8b8;
  text-decoration: none;
  border-radius: 15px;
}

/* .......................................................NAVBAR..................................................................................... */



.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
  color:#beb8b8;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: #beb8b8;
  background-color:#343a40;
}

.divTable {
  padding: 10px;
  width: auto; 
  height:inherit; 
  overflow:auto;
  color: #beb8b8;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color:#343a40;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
  background: linear-gradient(30deg, #2c2630 0%, #593c9c 100%);
}

thead {
  background: linear-gradient(30deg, #2c2630 0%, #593c9c 100%);
  border-color: #8257e5;
  
}


tr {
  border-bottom: 2px solid #8257e5!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
  align-content: center;
}

thead tr th {
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
  text-align: center;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

/* ----------------------------------------- BOTAO ADICIONAR TAREFA ---------------------------------------- */

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
    
  }

  td button i:first-child {
    margin-right: 50;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#000000;
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

form#formAtiv label{
  font-size: 16px;
}

form#formAtiv input{
  background-color: #343a40;
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}
form#formAtiv button{
  font-size: 16px;
}
/* Quadro de cadastro de atividade */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color:#343a40;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

td {
  text-align: center;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  color: #8257e5;
}

/* COR DA LETRA E FUNDO GERAL */
.active {
  display: flex;
  color: #8257e5;
  
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  align-self: center;
  border: none;
  outline: none;
  background-color:transparent;

}

td button i {
  font-size: 25px;
  box-sizing: 30px;
  
}

td button i:first-child {
  margin-right: 10px;
  color: #8257e5;
  align-items: center;
}

div#textosHome{
 
  margin-top: 20px;
  display: block;
  
}

div#textosHome  article h1{
display: block;
color: darkgray;
size: 30px;
align-self: center;
margin-left: 50;
 

}
div#textosHome  article{
  margin-left: 20%;
  border: 1.5px solid #5f537a;
  display: block;
  padding-block: 30px;
  align-content: center;
  size: 20px;
  background: linear-gradient(30deg, #2c2630 0%, #593c9c 100%);
  border-radius: 35px;
  padding: 2%;
  max-width: max-content;
  color:  darkgray;
}

body#homeP{
  
	background: #121214;
	background: -moz-linear-gradient(60deg, #121214 0%, #8257e5 100%);
	background: -webkit-linear-gradient(60deg, #121214 0%, #8257e5 100%);
	background: linear-gradient(60deg, #121214 0%, #8257e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorsrt='#3023ae', endColor='#c86dd7');
  
}

/* _________________________________________________2_____________________________________________

div#textosHome2{
  margin-left: 25%;
  margin-top: 10px;
  
  
}

div#textosHome2  article h1{

color: darkgray;
size: 30px;
align-self: center;
margin-left: 50;
 

}
div#textosHome2  article{
  border: 1.5px solid #5f537a;
  display: block;
  padding-block: 30px;
  align-content: center;
  size: 20px;
  background: linear-gradient(30deg, #2c2630 0%, #593c9c 100%);
  border-radius: 35px;
  padding: 2%;
  max-width: max-content;
  color:  darkgray;
} */

