
nav#menu {
	display: block;
  
  }
  
  nav#menu ul{
	list-style: none;
	position: relative;
	width: auto;
	text-align: center;
	text-decoration: none;
	
	
  }
  div div button#new  {
	background: linear-gradient(60deg, #121214 0%, #8257e5 100%);
	border: 2px solid #8257e5;
  }
  div div button#new :hover {
	background: linear-gradient(30deg, #847b8a 0%, #593c9c 100%);
  }
  
  
  nav#menu li{
  display: inline-block;
  color: 3023ae;
  background: linear-gradient(30deg, #121214 0%, #8369be 100%);
  padding: 10px;
  margin: 4px;
  border-radius: 500px;
  border: 2.5px solid #8257e5;
  
  
  
  
  }
  
  nav#menu li:hover {
	background: linear-gradient(30deg, #2c2630 0%, #593c9c 100%);
  }
  
  nav#menu li a {
	color: #beb8b8;
	text-decoration: none;
	border-radius: 15px;
  }
































:root {
	--timer-color: #887bd3;
}

html, body {
	height: 100%;
}









body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #e7e7e7;

	background: #121214;
	background: -moz-linear-gradient(60deg, #121214 0%, #8257e5 100%);
	background: -webkit-linear-gradient(60deg, #121214 0%, #8257e5 100%);
	background: linear-gradient(60deg, #121214 0%, #8257e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorsrt='#3023ae', endColor='#c86dd7');
}

button {
	padding: 16px 32px;
	font-size: 1em;
	background-color: transparent;
	border: 1px solid #121214(255, 255, 255, .1);
	color: #e7e7e7;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	opacity: 100%;
	transition: opacity 0.6s;
}

button:hover {
	opacity: 50%;
	transition: opacity 0.6s;
}

.main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.turns {
	background-color: rgba(255, 255, 255, .2);
	font-size: 1.5em;
	padding: 12px 24px;
	border-radius: 5px;
}

.time-container {
	position: relative;
}

.time, .config, .config-tooltip-text  {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.2em;
}

.config {
	top: 80%;
	display: inline-block;
	font-size: 1.3em;
	cursor: pointer;
	opacity: 30%;
	transition: opacity 0.6s;
}

.config-tooltip-text {
	font-size: 0.6em;
	font-weight: 600;
	top: -7px;
	opacity: 0%;
	transition: opacity 0.6s;
}

.config:hover, .config:hover .config-tooltip-text {
	opacity: 80%;
	transition: opacity 0.6s;
}

.time-mode {
	padding: 24px;
	font-size: 1.5em;
}

.circle-container {
	transform: rotate(-90deg);
}

.background-circle, .circle {
	fill: none;
}

.background-circle {
	stroke: rgba(255, 255, 255, .2);
	stroke-width: 5;
}

.circle {
	stroke: var(--timer-color);
	stroke-width: 10;
	stroke-dasharray: 597;
	stroke-dashoffset: var(--dash-offset, 0);
	transition: stroke-dashoffset 1s linear;
}

.dropdown-content {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 10px;
}

.select-options > select {
	background-color: var(--timer-color);
	border: 1px solid #121214(255, 255, 255, .1);
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	opacity: 60%;
	transition: opacity 0.6s;
}

.select-options > select:hover {
	opacity: 100%;
	transition: opacity 0.6s;
}

.config-message {
	font-size: 0.6em;
	font-weight: 600;
	display: none;
}

.config-message > span {
	position: absolute;
	transform: translate(-50%, -50%);
}

.config-message > span > a {
	color: tomato;
}
